.modal_close_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.rules_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
